<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meidian.auth.dao.SystemDao" >
  <resultMap id="BaseResultMap" type="com.meidian.auth.entity.System" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="system_key" property="systemKey" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="c_t" property="cT" jdbcType="INTEGER" />
    <result column="u_t" property="uT" jdbcType="INTEGER" />
    <result column="c_u" property="cU" jdbcType="BIGINT" />
    <result column="u_u" property="uU" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, system_key, name, url, c_t, u_t, c_u, u_u, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from system
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from system
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.meidian.auth.entity.System" >
    insert into system (id, system_key, name, 
      url, c_t, u_t, c_u, 
      u_u, is_deleted)
    values (#{id,jdbcType=BIGINT}, #{systemKey,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{cT,jdbcType=INTEGER}, #{uT,jdbcType=INTEGER}, #{cU,jdbcType=BIGINT}, 
      #{uU,jdbcType=BIGINT}, #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.meidian.auth.entity.System" >
    insert into system
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="systemKey != null" >
        system_key,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="cT != null" >
        c_t,
      </if>
      <if test="uT != null" >
        u_t,
      </if>
      <if test="cU != null" >
        c_u,
      </if>
      <if test="uU != null" >
        u_u,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="systemKey != null" >
        #{systemKey,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="cT != null" >
        #{cT,jdbcType=INTEGER},
      </if>
      <if test="uT != null" >
        #{uT,jdbcType=INTEGER},
      </if>
      <if test="cU != null" >
        #{cU,jdbcType=BIGINT},
      </if>
      <if test="uU != null" >
        #{uU,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meidian.auth.entity.System" >
    update system
    <set >
      <if test="systemKey != null" >
        system_key = #{systemKey,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="cT != null" >
        c_t = #{cT,jdbcType=INTEGER},
      </if>
      <if test="uT != null" >
        u_t = #{uT,jdbcType=INTEGER},
      </if>
      <if test="cU != null" >
        c_u = #{cU,jdbcType=BIGINT},
      </if>
      <if test="uU != null" >
        u_u = #{uU,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meidian.auth.entity.System" >
    update system
    set system_key = #{systemKey,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      c_t = #{cT,jdbcType=INTEGER},
      u_t = #{uT,jdbcType=INTEGER},
      c_u = #{cU,jdbcType=BIGINT},
      u_u = #{uU,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>